body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p {
    text-align: justify;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.section {
    margin-bottom: 20px;
}

.contact {
    background: #0c4633;
    color: white;
    padding: 10px;
    text-align: center;
}
